.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
}

.logo {
    padding: 0 13px;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.8);
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo img {
    max-width: 350px;
    width: 100%;
}

.slider {
    width: 340px;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track {
    background-color: transparent;
}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
    background-color: #1f1f1f;
    outline: none;
    border: 2px solid #1f1f1f;
    box-shadow: none;
    width: 13px;
    height: 13px;
    margin-top: -3px;
}

.slider-container {
    margin-left: 1rem;
}

.select-container {
    margin-left: auto;
    margin-right: 1rem;
}

@media screen and (max-width: 767.98px) {
    .slider {
        width: 150px;
    }
}

@media screen and (max-width: 575.98px) {
    .logo {
        display: none;
    }
}
